<nav class="navbar navbar-expand-lg navbar-light bg-white p-2 fixed-top" style="box-shadow: 1px 2px 5px whitesmoke">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HOPITANX</a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
    	<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
	    	<li class="nav-item active">
	       	 	<a class="nav-link"  href="/">Accueil</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="/medecins">Medecin</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="/maladies">Maladie</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="/consultations">Consultation</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="/patients">Patient</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="/apropos">A propos</a>
	      	</li>

	    </ul>
	</div>
</nav>